In [47]:
#Import Dependecies
import pandas as pd
import datetime as datetime

In [48]:
#Read the csvfile
df = pd.read_csv("budget_data.csv")
df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [49]:
#Check data info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           86 non-null     object
 1   Profit/Losses  86 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.5+ KB

In [50]:
#The total number of months included in the dataset
total_months = df['Date'].nunique()
print(total_months)

86

In [53]:
#The net total amount of "Profit/Losses" over the entire period
net_amount = df['Profit/Losses'].sum()
print(net_amount)

22564198

In [57]:
#The changes in "Profit/Losses" over the entire period, and then the average of those changes
avg_amount = df['Profit/Losses'].mean()
print(avg_amount)

262374.3953488372

In [63]:
#The greatest increase in profits (date and amount) over the entire period
#The greatest decrease in profits (date and amount) over the entire period
max_profit = df.max()
min_profit = df.min()
print(max_profit)
print(min_profit)

Date              Sep-16
Profit/Losses    1141840
dtype: object
Date               Apr-10
Profit/Losses    -1194133
dtype: object

In [64]:
#Printing the report
print ("Financial Analysis")
print ("-"*20)
print (f'Total Months: ' +str( total_months))
print (f'Total: $' + str(net_amount))
print (f'Average Change: $' + str(avg_amount))
print (f'Greatest Increase in Profits: ' +str(max_profit))
print (f'Greatest Decrease in Profits: ' +str(min_profit))

Financial Analysis
--------------------
Total Months: 86
Total: $22564198
Average Change: $262374.3953488372
Greatest Increase in Profits: Date              Sep-16
Profit/Losses    1141840
dtype: object
Greatest Decrease in Profits: Date               Apr-10
Profit/Losses    -1194133
dtype: object